{% extends 'main/base.html' %}
{% load static %}

{% block title %} About {% endblock %}
<!-- Website template by freewebsitetemplates.com -->
{% block content %}
	<div id="contents">
		<div class="clearfix">
			<h1>About Us</h1>
			<div class="frame2">
				<div class="box">
					<img src="{% static 'images/thumb-up.jpg' %}" alt="Img" height="298" width="924">
				</div>
			</div>
			<h2>We Have Free Templates for Everyone</h2>
			<p>
				Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="http://www.freewebsitetemplates.com/about/terms/">Terms of Use</a>. You can even remove all our links if you want to.
			</p>
			<h2>We Have More Templates for You</h2>
			<p>
				Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and find what you're looking for. But if you don't find any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you're looking for something different, something special. And we love the challenge of doing something different and something special.
			</p>
			<h2>Be Part of Our Community</h2>
			<p>
				If you're experiencing issues and concerns about this website template, join the discussion <a href="http://www.freewebsitetemplates.com/forums/">on our forum</a> and meet other people in the community who share the same interests with you.
			</p>
			<h2>Template details</h2>
			<p>
				Design version 11. Code version 6.
			</p>
			<p>
				Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/discuss/lawfirm/">Law Firm Web Template</a>.
			</p>
			<p>
				Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.
			</p>
			<p>
				Please feel free to remove some or all the text and links of this page and replace it with your own About content.
			</p>
		</div>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div class="section">
				<h4>Latest News</h4>
				<p>
					This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link.
				</p>
			</div>
			<div class="section contact">
				<h4>Contact Us</h4>
				<p>
					<span>Address:</span> the address city, state 1111
				</p>
				<p>
					<span>Phone:</span> (+20) 000 222 999
				</p>
				<p>
					<span>Email:</span> info@freewebsitetemplates.com
				</p>
			</div>
			<div class="section">
				<h4>SEND US A MESSAGE</h4>
				<p>
					If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
				</p>
				<a href="http://www.freewebsitetemplates.com/misc/contact/" class="subscribe">Click to send us an email</a>
			</div>
		</div>
	</div>
{% endblock %}
</body>
</html>