{% load static %}

<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
	<div id="header">
		<div class="clearfix">
			<div class="logo">
				<a href="index.html"><img src="{% static 'images/victorlogo.png' %}" alt="LOGO" height="80"
										  width="200"></a>
			</div>
			{% if user.is_authenticated %}
			<ul class="navigation">
				<li class="active">
					<a href="{% url 'home' %}">Home</a>
				</li>
				<li>
					<a href="{% url 'about' %}">About</a>
				</li>
				<li>
					<a href="{% url 'leagues' %}">Leagues</a>
				</li>
				<li>
					<a href="{% url 'footballers' %}">Footballers</a>
				</li>
				<li>
					<a href="{% url 'news' %}">Information</a>
					<div>
						<a href="{% url 'singlepost' %}">Best Citties</a>
					</div>
				</li>
				<li>
					<a href="{% url 'contact' %}">contact</a>
				</li>
				<li>
					<a href="{% url 'logout' %}">logout</a>
				</li>
			</ul>
			{% else %}
						<ul class="navigation">
				<li class="active">
					<a href="{% url 'home' %}">Home</a>
				</li>
				<li>
					<a href="{% url 'about' %}">About</a>
				</li>
				<li>
					<a href="{% url 'leagues' %}">Leagues</a>
				</li>
				<li>
					<a href="{% url 'footballers' %}">Footballers</a>
				</li>
				<li>
					<a href="{% url 'news' %}">Information</a>
					<div>
						<a href="{% url 'singlepost' %}">Best Cities</a>
					</div>
				</li>
				<li>
					<a href="{% url 'contact' %}">contact</a>
				</li>
				<li>
					<a href="{% url 'login' %}">login</a>
				</li>
				<li>
					<a href="{% url 'register' %}">register</a>
				</li>
			</ul>
			{% endif %}
		</div>
	</div>
{% block content %}
{% endblock %}
			<div id="footnote">
			<div class="clearfix">
				<div class="connect">
					<a href="http://freewebsitetemplates.com/go/facebook/" class="facebook"></a><a href="http://freewebsitetemplates.com/go/twitter/" class="twitter"></a><a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus"></a><a href="http://pinterest.com/fwtemplates/" class="pinterest"></a>
				</div>
				<p>
					© Copyright 2023 Manes Winchester. All Rights Reserved.
				</p>
			</div>
		</div>
	</div>
	</div>
</body>
</html>
