{% extends 'main/base.html' %}
{% load static %}

{% block title %} footballers {% endblock %}

{% block content %}
	<div id="contents">
		<div class="clearfix">
			<div class="sidebar">
				<div>
					<h2>Favourite Footballers</h2>
					<p>
						This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.
					</p>
					<p>
						You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
					</p>
					<p>
						If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
					</p>
				</div>
				<div>
					<h2>Client Testimonials</h2>
					<p>
						&ldquo;The best family lawyers in the city so far. Me and my ex-wife didn’t have any<br> problems settling the terms and agreement. Everything went so smoothly. We’re both very happy.&ldquo; <span>- Jared Greene</span>
					</p>
				</div>
			</div>
			<div class="main">
				<h1>Footballers</h1>
				<div class="section">
					<h2>Directors</h2>
					<ul>
						<li>
							<div class="frame4">
								<div class="box">
									<img src="{% static 'images/lionel.jfif' %}" alt="Img" height="94"
										 width="90">
								</div>
							</div>
							<p>
								<b>Messi Lionel</b> This website template has been designed by Free Website Templates
								for you, for free. You can replace all this text with your own text.You can remove any link to our website from this website template.
							</p>
						</li>
						<li>
							<div class="frame4">
								<div class="box">
									<img src="{% static 'images/cr7.jfif' %}" alt="Img" height="94"
										 width="90">
								</div>
							</div>
							<p>
								<b>Cristiano Ronaldo</b> You're free to use this website template without linking
								back to	us.	If
								you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
							</p>
						</li>
					</ul>
				</div>
				<div class="section">
					<h2>Senior Associates</h2>
					<ul>
						<li>
							<div class="frame4">
								<div class="box">
									<img src="{% static 'images/neymar.jfif' %}" alt="Img" height="94"
										 width="90">
								</div>
							</div>
							<p>
								<b>Neymar. Jr</b> This website template has been designed by Free Website Templates for
								you,
								for free. You can replace all this text with your own text.You can remove any link to our website from this website template.
							</p>
						</li>
					</ul>
				</div>
				<div class="section last-child">
					<h2>Associates</h2>
					<ul>
						<li>
							<div class="frame4">
								<div class="box">
									<img src="{% static 'images/kdb.jfif' %}" alt="Img" height="94"
										 width="90">
								</div>
							</div>
							<p>
								<b>Kevin De Bruyne</b> This website template has been designed by Free Website
								Templates
								for you,
								for free. You can replace all this text with your own text.You can remove any link to our website from this website template.
							</p>
						</li>
						<li>
							<div class="frame4">
								<div class="box">
									<img src="{% static 'images/lewa.jfif' %}" alt="Img" height="94"
										 width="90">
								</div>
							</div>
							<p>
								<b>Lewondowski Robert</b> You're free to use this website template without linking
								back to	us.	If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div class="section">
				<h4>Latest News</h4>
				<p>
					This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link.
				</p>
			</div>
			<div class="section contact">
				<h4>Contact Us</h4>
				<p>
					<span>Address:</span> the address city, state 1111
				</p>
				<p>
					<span>Phone:</span> (+20) 000 222 999
				</p>
				<p>
					<span>Email:</span> info@freewebsitetemplates.com
				</p>
			</div>
			<div class="section">
				<h4>SEND US A MESSAGE</h4>
				<p>
					If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
				</p>
				<a href="http://www.freewebsitetemplates.com/misc/contact/" class="subscribe">Click to send us an email</a>
			</div>
		</div>
	</div>
{% endblock %}