{% extends 'main/base.html' %}
{% load static %}

{% block title %} HomePage {% endblock %}

{% block content %}
<div id="contents">
		<div id="adbox">
			<div class="clearfix">
				<img src="{% static 'images/clear.jfif' %}" alt="Img" height="382" width="594">
				<div class="detail">
					{% if user.is_authenticated %}
					<h1> <strong>Welcome {{user.username}}</strong> This is a site created for {{user.username}}
						<br>
						The site	has	some good features. Although it
						can
						get better <br> and it will.</h1>
					{% else %}
						<h1> This is a site created by Victor Ifah <br> The site has some good features. Although it
						can
						get better <br> and it will.</h1>
					{% endif %}
				</div>
			</div>
		</div>
	<div id="footer">
		<div class="clearfix">
			<div class="section">
				<h4>Latest News</h4>
				<p>
					This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link.
				</p>
			</div>
			<div class="section contact">
				<h4>Contact Us</h4>
				<p>
					<span>Address:</span> the address city, state 1111
				</p>
				<p>
					<span>Phone:</span> (+20) 000 222 999
				</p>
				<p>
					<span>Email:</span> info@freewebsitetemplates.com
				</p>
			</div>
			<div class="section">
				<h4>SEND US A MESSAGE</h4>
				<p>
					If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
				</p>
				<a href="http://www.freewebsitetemplates.com/misc/contact/" class="subscribe">Click to send us an email</a>
			</div>
		</div>
{% endblock %}
</html>