{% extends 'main/base.html' %}
{% load static %}

{% block title %} leagues {% endblock %}

{% block content %}
	<div id="contents">
		<div class="clearfix">
			<div class="sidebar">
				<div>
					<h2>Leagues</h2>
					<ul>
						<li>
							<a href="{% url 'post' %}">EPL</a>
						</li>
						<li>
							<a href="{% url 'post' %}">LIGUE 1</a>
						</li>
						<li>
							<a href="{% url 'post' %}">LA GIGA</a>
						</li>
					</ul>
				</div>
				<div>
					<h2>CONTINENTAL LIGUES</h2>
					<p>
						&ldquo;This would contain the fixtures from the UEFA Champions League from the top teams in
						europe
						<br> problems settling the
						terms and
						agreement. Everything went	so smoothly. We’re both very happy.&rdquo; <span>- Jared Greene</span>
					</p>
				</div>
			</div>
			<div class="main">
				<h1>Leagues</h1>
				<p>
					This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
				</p>
				{% for c in club %}
					<h3><strong>English Premier League</strong></h3>
					<img src= "{{c.epl.url}}" height="80" width="200">
					<br>
					<h3><strong>La Liga Santanda</strong></h3>
					<img src= "{{c.laliga.url}}" height="80" width="200">
					<br>
					<h3><strong>Italian Seria A</strong></h3>
					<img src= "{{c.seriea.url}}" height="80" width="200">
					<br>
					<h3><strong>Ligue 1</strong></h3>
					<img src= "{{c.ligue1.url}}" height="80" width="200">
					<br>
					<h3><strong>BundesLiga</strong></h3>
					<img src= "{{c.bundes.url}}" height="80" width="200">
					<br>
					<h3><strong>Primiere Liga</strong></h3>
					<img src= "{{c.portleague.url}}" height="80" width="200">
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}