{% extends 'main/base.html' %}

{% block title %} Sign Up {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-sucess">Join</button>
    </form>
{% endblock %}