{% extends 'main/base.html' %}

{% block title %} Sign in {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<form action="" method="POST" class="form-group">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Login</button>
    <p>Don't have an account? <a href="{% url 'register' %}">Sign Up here</a> </p>
</form>
{% endblock %}